
/*
 div bg color and text color combinations
 
 background: #1abc9c;
 color: white
 
*/

.header {
  line-height: 80px;
  height: 80px;
  text-align: left;
  background: white;
  color: black;
  font-size: 20px;
}
.header span {
  line-height: 1.5;
  vertical-align: middle;
  display: inline-block;
}

.footer {
  line-height: 20px;
  height: 20px;
  text-align: center;
  background: white;
  color: black;
  font-size: 10px;
}

.footer p {
  line-height: 0.3;
  vertical-align: middle;
  display: inline-block;
}

.pgbody {
  height: 525px;
  padding: 2px;
  background: white;
}

.defaultfont {
	margin: 1em 0 0.5em 0;
	color: #343434;
	font-size: 18px;
	line-height: 20px;
	font-weight: normal;
	font-family: 'Orienta', sans-serif;
}

.error-message {
  color: #cc0033;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
}

input[type=text], input[type=password] {
  width: 200px;
  height: 25px;
  padding: 2px;
  margin: 0px 0 5px 0;
  display: inline-block;
  border: 2px;
  background: #f1f1f1;
  border-style: groove;
  border-width: 1px;
  border-radius:10px;
}

.button1 {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #60a3bc;
  padding: 10px;
  border-radius: 300px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

.button1:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}

