

.header {
  line-height: 100px;
  height: 100px;
  text-align: right;
  background: #1abc9c;
  color: white;
  font-size: 25px;
  border: 1px solid black;
}
.header p {
  line-height: 1.5;
  vertical-align: middle;
  display: inline-block;
}

.pagebody {
  height: 505px;
  background: #D4ECF8;
}

.footer {
  line-height: 20px;
  height: 20px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 10px;
  border: 1px solid black;
}
.footer p {
  line-height: 0.3;
  vertical-align: middle;
  display: inline-block;
}

