<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="common/default.css">
</head>
<body>
	<div class="header">
		&nbsp; GroupTravelGo &nbsp;
		<span>
		<img src="img/logo.jpg" width="80px" height="80px" />
		</span>
	</div>

	<div class="indexpgbody" background-repeat: space>
	
		<div class="indexpgtop">
			<form action="/login/login" method="post">
				<label for="uname"><b>Username</b></label>
				<input type="text" placeholder="Enter Username" name="login" required>
				<br>
				<label for="psw"><b>Password </b></label>
				<input type="password" placeholder="Enter Password" name="psw" required>
				<br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<button type="submit">Login</button>
				&nbsp;
				<a target="_parent" href="/signup/signupview">SignUp</a>
				<br>
				<br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<span class="psw">Forgot <a href="#">password?</a></span>
			</form>		
		</div>

	</div>
	
	<div class="footer">
		<p> &copy; Copyright 2020 HTML.am <p>
	</div>
</body>
</html>