<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="common/default.css">
</head>
<body>
	<div class="header">
		<img src="img/logo.jpg" width="100px" height="100px" align="left"  />
		<p> GroupTravelGo &nbsp;&nbsp;</p>
	</div>

	<div class="pagebody">
	<table border=0 width="100%">
		<tr>
			<td width="50%">
				<img src="img/homepage_img.jpg" height="500px" />
				
			</td>
			<td valign="middle" align="center" width="50%">
								
				<form action="/login/login" method="post">
					<label for="uname"><b>Username</b></label>
					<input type="text" placeholder="Enter Username" name="login" required>
					<br>
					<label for="psw"><b>Password</b></label>
					<input type="password" placeholder="Enter Password" name="psw" required>
					<br>
					<button formtarget="_parent" type="submit">Login</button>
					&nbsp;
					<a target="_parent" href="/signup/signupview">SignUp</a>
					<br>
					<span class="psw">Forgot <a href="#">password?</a></span>
				</form>
			</td>
		</tr>
	</table>
	</div>
	
	<div class="footer">
		<p> &copy; Copyright 2020 HTML.am <p>
	</div>
</body>
</html>